// page-login {
//     ion-content{
//       .scroll-content{
//         ion-grid{
//             height: 100px;
//         }
//           padding:0 !important;
//           [button_top]{
//               position: absolute;
//               top:5%;
//               left:10px;
//               z-index:111;
//               ion-icon{
//                   font-size:30px;
//               }
//           }
          
//         .img_logo{
//             width:60%;
//             left:0;
//             right:0;
//             position: absolute;
//             margin:0 auto;
//             text-align: center;
//             top: 20px;
//         }
//     }
//     .equal_height{
//         height: 9rem;
//         .item-block{
//            &.item-md,&.item-ios{
//                 padding-left: 16px;
//                 padding-right: 16px;
//             }
//         }
//     }
//     [err_mesg]{
//         padding: 0;
//         min-height: 2rem;
//     ion-label{
//         &.label-md,&.label-ios{
//             font-size: 10px;
//         margin:0;
//         color:$color7;
//         }
//     }
// }
// [checkbox]{
//     &.item-md,&.item-ios{
//         background:$color8;
//         padding: 10px 0;
//         margin: 0 auto;
//         line-height: 1;
//         width: 50%;
//         text-align: center;
        
//         .checkbox-md,.checkbox-ios{
//             margin: 0;
//         border: none;
            
//         }
//         .item-inner{
//             border-bottom:none;
//         }
    
//     }

// }
//     .sign_up{
//         position: relative;
//     top: 60px;
//     font-size: 25px;
//     color:$primary;
//     }
//      ion-segment{
//         z-index: 1111111111;
//         position: relative;
//         top: 20px;
//           &[segment_two]{
//            &.segment-md,&.segment-ios{
//                .segment-button{
//                 color:$color7;
//                 font-size:25px;
//                     background:none !important;
//                     border-bottom-style: none;
//                     border-style: none;
//                         position: relative;
//                       top: 60px;
//                     &.segment-activated{
//                             background:none !important;
//                                 color:$color1;
//                                     position: relative;
//                         top: 60px;
//                                 }
//         }
      
        
//       }
//     }
//   }
//     [padd_1]
//     {
//         padding-top: 23px;
//     }
//     ion-list{
//         &.list-md,&.list-ios{
//         position: relative;
//         top:60px;
//         }
//     }
//     .card_back{
//         position: absolute;
//         height: 42rem;
//         width: calc(100% - 100px);
//         margin:0;
//         transform: rotate(0) translateX(-70px);
//         top:0px;
//         left:0;
//         border-radius: 65px;
//         background-image: $bg_color;
//         animation: yourAnimation 0.5s 1 0s ease;
//         ion-card-content{
//             ion-card-title{
//                 color:$color1;
//                 font-size: 25px;
//                 .sign{
//                     float: right;
//                 }
//             }
//         }
//     }
//     @keyframes yourAnimation{
//         0%{
//             transform: rotate(0) translateX(200px);
//             }
//         100%{
//             transform: rotate(0) translateX(-70px);
//             }
//     }
//         .card_back_1{
//         position: absolute;
//         height: 42rem;
//         top:0px;
//             right:0;
//           margin:0;
//           border-radius: 65px;
//           width: calc(100% - 100px);
//           background-image: $bg-color;
//     animation: yourAnimation2 0.5s 1 0s ease;
//     transform:  translateX(70px);
//           ion-card-content{
//               ion-card-title{
//                   color:$color1;
//                   font-size: 25px;
//                   float: right;
//                   .sign{
//                       float: right;
//                   }
//               }
//           }
//       }
// @keyframes yourAnimation2{
//     0%{
//         transform: translateX(-200px);
//         }
//     100%{
//         transform:  translateX(70px);
//         }
// }
//     .log_form{
//         position: absolute;
//         top: 75px;
//         animation: yourAnimation3 1s 1 0s ease;
//         // padding:10px 5px;
//         margin: 0px 24px 0 12px;
//         .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-md .item-input:last-child, .list-md .item-input:last-child:focus {
//             border-top: 0;
//             border-bottom: 0 !important;
//                box-shadow:none;
//         }
//         .log_form_item{
//             padding:5px 0px;
//     }
//     .form_input{
//         border-bottom: 1px solid $primary;
//            &.password{
         
//             &:before{
//                 position: absolute;
//                 top:25%;
//                 left:0%;
//                 content:'\f31d';
//                 font-family: "Ionicons";
//                 color: $color1;
//                 }

//         }
//     }
//     [icon_position]
//     {
//         position: relative;
//         bottom: 28px;
//         right: 20px;
//         font-size: 20px;
//     }
// .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner
// {
//     border-bottom-color:transparent;
//     box-shadow:none;
// }
//     .center{
//         text-align: right;
//         margin:5px 0;
//         .login_button{
//             background-image: $btn-color;
//             padding: 2px 30px;
//             border-radius:30px;
//         }
//         .login_button_1{
//             background-image: $btn-color;
//             border-radius:30px;
//         }
//     }
//     }
// }
// @keyframes yourAnimation3{
//     0%{
//         transform: rotate(0) translateY(20%);
//         opacity: 0;
//         }
//     100%{
//         transform: rotate(0) translateY(0%);
//         opacity: 1;
//         }
// }
// .button-ios
// {
//     height: 2.3em;
// }
// .text-input-md,.text-input-ios
// {
//     margin: 4px 8px !important; 
// }
// .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child
// {
//     border-bottom-color:transparent;
//     box-shadow:none;
// }
// .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child
// {
//       border-bottom-color:transparent;
//     box-shadow:none;
// }
// .list-md .item-input:last-child 
// {
//      border-bottom:none !important;
// }
//     }
//     .err_mesg_degn{
//        color: $color7;
//        font-size: 18px;
//     }
//     ion-footer{
//         &.footer-md,&.footer-ios{
//             background: transparent;
//             .forgot{
//                 text-align: center;
//                 padding:15px 0px;
//                 font-size:15px;
//                     color: $primary;
//                 text-transform: uppercase;
//                a{ text-decoration: none;
//             color:$secondary; }
//             :hover{
//                 color:$primary;
//             }
//             }
//         .toolbar-md,.toolbar-ios{
//             .toolbar-background {
//                 &.toolbar-background-ios,&.toolbar-background-md{
//                     background: transparent;

//                 }
//             }
//         }
//         }
//     }
      
//  .font_family_1_ta
//         {
//            font-family: 'suntommy_2' !important;
//     font-size: 21px !important;  
//         }
        

// /*= Reset CSS 
// ============= */


// body {
// 	font: 14px "poppins", sans-serif;
// 	min-width: 100%;
// 	min-height: 100%;
// 	color: #666;
// }
// .logo{
//     position: relative;
//     text-align: center;
//     margin-top:10rem!important;
// }
// .container {
// 	margin: 0 auto;
// 	max-width: 1200px;
// }



// /*= input focus effects css
// =========================== */
// .sift{
//     background-color: #f76a33!important;
// }
// .dark{
//     background-color: #000000;
//     color:#fff;
//     border-radius: 5px;
// }
// .button-md.activated{
//     background-color: #000000!important;
// }
// :focus {
// 	outline: none;
// }

// .structure {
//     width: 90%;
//     margin: 40px 5%;
//     position: relative;
// } 
// .effect-20[type="number"] {
// 	font: 15px/24px "poppins", sans-serif;
// 	color: #333;
// 	width: 100%;
// }

// .effect-20 {
// 	border: 1px solid #ccc;
// 	padding: 7px 14px;
// 	transition: 0.4s;
//     border-radius:5px!important;
// 	background: transparent;
// }

// .effect-20 ~ .focus-border:before,
// .effect-20 ~ .focus-border:after {
// 	content: "";
// 	position: absolute;
// 	background-color: #ffffff;
// 	transition: 0.3s;
// }

// .effect-20 ~ .focus-border:after {
// 	top: auto;
// 	bottom: 0;
// 	left: auto;
// 	right: 0;
// }

// .effect-20 ~ .focus-border i:before,
// .effect-20 ~ .focus-border i:after {
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 0;
// 	background-color: #ffffff;
// 	transition: 0.4s;
// }

// .effect-20 ~ .focus-border i:after {
// 	left: auto;
// 	right: 0;
// 	top: auto;
// 	bottom: 0;
// }

// .effect-20:focus ~ .focus-border:before,
// .effect-20:focus ~ .focus-border:after,
// .has-content.effect-20 ~ .focus-border:before,
// .has-content.effect-20 ~ .focus-border:after {
// 	width: 100%;
// 	transition: 0.3s;
// }

// .effect-20:focus ~ .focus-border i:before,
// .effect-20:focus ~ .focus-border i:after,
// .has-content.effect-20 ~ .focus-border i:before,
// .has-content.effect-20 ~ .focus-border i:after {
// 	height: 100%;
// 	transition: 0.4s;
// }

// .effect-20 ~ label {
// 	position: absolute;
// 	left: 14px;
// 	width: 100%;
// 	top: 12px;
// 	color: rgb(255, 255, 255);
//     letter-spacing: 3px;
// 	transition: 0.3s;
// 	z-index: -1;
//     text-transform: uppercase;
//     font-size:10px;
// }

// .effect-20:focus ~ label, .has-content.effect-20 ~ label {
// 	top: -18px;
// 	left: 0;
// 	font-size: 12px;
// 	color: #ffffff;
// 	transition: 0.3s;
// }


// /*= input focus effects css End
// =============================== */
// .mt-0{
//     margin-top:8rem;
//     background-color: #000000;
//     color:#fff;
//     text-transform: capitalize;
//     height: 4.2rem;
//     font-family: 'poppins', sans-serif;
// }



page-login {
    ion-content{
      .scroll-content{
        ion-grid{
            height: 100px;
        }
          padding:0 !important;
          [button_top]{
              position: absolute;
              top:5%;
              left:10px;
              z-index:111;
              ion-icon{
                  font-size:30px;
              }
          }
          [logo]{
            position: relative;
            height: 130px;
    left:0;
        .img_logo{
            width:60%;
            left:0;
            right:0;
            position: absolute;
            margin:0 auto;
            text-align: center;
            top: 20px;
        }
    }
    .equal_height{
        height: 9rem;
        .item-block{
           &.item-md,&.item-ios{
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
    [err_mesg]{
        padding: 0;
        min-height: 2rem;
        background: transparent;
    ion-label{
        &.label-md,&.label-ios{
            font-size: 10px;
        margin:0;
        color:$color7;
        }
    }
}
[checkbox]{
    &.item-md,&.item-ios{
        background:$color8;
        padding: 10px 0;
        margin: 0 auto;
        line-height: 1;
        width: 50%;
        text-align: center;
        
        .checkbox-md,.checkbox-ios{
            margin: 0;
        border: none;
            
        }
        .item-inner{
            border-bottom:none;
        }
    
    }

}
    .sign_up{
        position: relative;
    top: 60px;
    font-size: 25px;
    color:$primary;
    }
     ion-segment{
        z-index: 1111111111;
        position: relative;
        top: 20px;
          &[segment_two]{
           &.segment-md,&.segment-ios{
               .segment-button{
                color:$color7;
                font-size:25px;
                    background:none !important;
                    border-bottom-style: none;
                    border-style: none;
                        position: relative;
                      top: 60px;
                    &.segment-activated{
                            background:none !important;
                                color:$color1;
                                    position: relative;
                        top: 60px;
                                }
        }
      
        
      }
    }
  }
    [padd_1]
    {
        padding-top: 23px;
    }
    ion-list{
        &.list-md,&.list-ios{
        position: relative;
        top:0;
        }
    }
    .card_back{
        position: absolute;
        height: 42rem;
        width: calc(100% - 100px);
        margin:0;
        transform: rotate(0) translateX(-70px);
        top:0px;
        left:0;
        border-radius: 65px;
        background-image: $bg_color;
        animation: yourAnimation 0.5s 1 0s ease;
        ion-card-content{
            ion-card-title{
                color:$color1;
                font-size: 25px;
                .sign{
                    float: right;
                }
            }
        }
    }
    @keyframes yourAnimation{
        0%{
            transform: rotate(0) translateX(200px);
            }
        100%{
            transform: rotate(0) translateX(-70px);
            }
    }
        .card_back_1{
        position: absolute;
        height: 42rem;
        top:0px;
            right:0;
          margin:0;
          border-radius: 65px;
          width: calc(100% - 100px);
          background-image: $bg-color;
    animation: yourAnimation2 0.5s 1 0s ease;
    transform:  translateX(70px);
          ion-card-content{
              ion-card-title{
                  color:$color1;
                  font-size: 25px;
                  float: right;
                  .sign{
                      float: right;
                  }
              }
          }
      }
@keyframes yourAnimation2{
    0%{
        transform: translateX(-200px);
        }
    100%{
        transform:  translateX(70px);
        }
}
    .log_form{
        position: absolute;
        top: 100px;
        width:90%;
        background:transparent;
        animation: yourAnimation3 1s 1 0s ease;
        // padding:10px 5px;
        margin: 0px 24px 0 12px;
        .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-md .item-input:last-child, .list-md .item-input:last-child:focus {
            border-top: 0;
            border-bottom: 0 !important;
               box-shadow:none;
        }
        .log_form_item{
            padding:5px 0px;
            background: transparent;
    }
    .form_input{
        border-bottom: 1px solid #000000;
           &.password{
         
            &:before{
                position: absolute;
                top:25%;
                left:0%;
                content:'\f31d';
                font-family: "Ionicons";
                color: $color1;
                }

        }
    }
    [icon_position]
    {
        position: relative;
        bottom: 28px;
        right: 20px;
        font-size: 20px;
    }
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner
{
    border-bottom-color:transparent;
    box-shadow:none;
}
    .center{
        text-align: center;
        margin:5px 0;
        margin-top: 5rem;
        .login_button{
            background-image: $btn-color;
            padding: 2px 30px;
            border-radius:30px;
        }
        .login_button_1{
            background-image: $btn-color;
            border-radius:30px;
        }
    }
    }
}
@keyframes yourAnimation3{
    0%{
        transform: rotate(0) translateY(20%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0%);
        opacity: 1;
        }
}
.button-ios
{
    height: 2.3em;
}
.text-input-md,.text-input-ios
{
    margin: 4px 8px !important; 
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child
{
    border-bottom-color:transparent;
    box-shadow:none;
}
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child
{
      border-bottom-color:transparent;
    box-shadow:none;
}
.list-md .item-input:last-child 
{
     border-bottom:none !important;
}
    }
    .err_mesg_degn{
       color: $color7;
       font-size: 18px;
    }
    ion-footer{
        &.footer-md,&.footer-ios{
            background: transparent;
            .forgot{
                text-align: center;
                padding:15px 0px;
                font-size:15px;
                    color: $primary;
                text-transform: uppercase;
               a{ text-decoration: none;
            color:$secondary; }
            :hover{
                color:$primary;
            }
            }
        .toolbar-md,.toolbar-ios{
            .toolbar-background {
                &.toolbar-background-ios,&.toolbar-background-md{
                    background: transparent;

                }
            }
        }
        }
    }
      .sift{
         background-color: #d6d6d6!important;
}
.dark{
    background-color: #f76a32;
    color:#fff;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
}
.button-md.activated{
    background-color: #000000!important;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color:#000000;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked]{
    color:#000;
}
.scroll-content [err_mesg] ion-label.label-md, .scroll-content [err_mesg] ion-label.label-ios{
    font-size: 10px;
    margin: 0px;
    font-weight: 600;
    color: #ec3939;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.logotxt{
    color: #f76a32;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.item-input .label-md,
.item-input .label-ios
{
    color: rgb(0, 0, 0);
    font-weight:600;
    font-family:'poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.item-md.item-block .item-inner{
   padding-right:0px; 
}
 .font_family_1_ta
        {
           font-family: 'suntommy_2' !important;
    font-size: 21px !important;  
        }
        
}


