page-tabs {
// ion-tab{
//     font-family: 'poppins', sans-serif;
// }
    .tabs-md,
        .tabs-ios,
            .tabbar {
                background: #ffffff!important;
                border-top:none!important;
                border: none!important;
            }
}