page-breakfast {
.pro{
    font-size:10px;
    background-color: crimson;
    color:rgb(255, 255, 255);
    font-family:'poppins', sans-serif;
    padding:5px;
}
.pro1{
    font-size:10px;
    background-color: rgb(20, 100, 220);
    color:rgb(255, 255, 255);
    font-family:'poppins', sans-serif;
    padding:5px;
}
.pveg{
    font-size:10px;
    border:1px solid #5e963f;
    border-radius: 5px;
    color:#5e963f;
    font-family:'poppins', sans-serif;
    padding:5px;
    margin: 6px;
    width:18%;
}
.heading{
    font-size:14px;
    font-weight:700;
    font-family:'poppins', sans-serif;
    margin-left: 1rem;
    margin-top: 1rem;
}
.head{
    font-size:14px;
    font-weight:400;
    letter-spacing: 2px;
    font-family:'poppins', sans-serif;
    margin-left: 1rem;  
}
.heads{
    font-size: 14px;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    line-height: 4rem;
    margin-left: 0.5rem;
}
.tracks{
    font-size:12px;
    font-family: 'poppins', sans-serif;
    color:#989797;
    margin-top: -6px;
}
.card-img{
    border-radius: 3px;
}
.product{
    font-size:10px;
    border:1px solid crimson;
    border-radius: 5px;
    color:crimson;
    font-family:'poppins', sans-serif;
    padding:5px;
    text-align: center;
}
.btn {
    font-size: 10px; 
    white-space:nowrap;  
    padding:.2rem 1rem; 
    line-height:18px; 
    display: inline-block;
    color: #fff; 
    text-align: center; 
    text-decoration: none;
    position:relative; 
    bottom:2px;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; 
    transition: border .25s linear, color .25s linear, background-color .25s linear;
 }
 .btn.btn-add{
    border-radius: 5px;
    border: 1px solid #f76a33;
    color: #f76a33;
    font-family:'poppins', sans-serif;
    margin-top: 0.6rem;
    cursor: pointer;
 }
 .btn .btn-add:focus-visible{
    background-color: #f76a33;
    color:#ffffff;
 }
 .viewcart{
    position: relative;
    color:#fff!important;
}
.card{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
}
.box {

    box-shadow:-3px -3px 6px 2px #98979726, 5px 5px 8px 0px #9897971c, 1px 2px 2px 0px #9897974f;
    transition: 0.1s;
    position: relative;
    margin: 6px;
    border: none;
    cursor:pointer;
  }
}