page-order-description {
[bag_clr]
    {
   background: $color5;
    padding: 10px;
       border-radius: 0px;
        position: relative;
    bottom: 5px;
    margin-top: 0!important;
    }
    [bag_clr_1]
    {
          background: $color5;
    padding: 10px;
       border-radius: 25px;
    }
    .img_size
    {
        width: 100%;
        height: 270px;
        object-fit: contain;
        object-position: center;
        background-color: lighten($color10,70%);    
    }
    [back_funct]
    {
        position: absolute;
        top: 28px;
        font-size: 25px;
        color: $color1;
        left: 15px;
        text-shadow: 1px 1px 3px $color9;
        width: 120px;
        height: 30px;
    }
    p
    {
      color: $color9; 
      margin: 2px;
    }
    [call_butn]
    {
    background-image: $btn-color;
        border-radius: 30px;
       font-size: 11px;
    height: 3rem;
    margin-top: 7px;
    }
    h3
    {
        margin: 5px;
    font-size: 15px;
    }
   .add_click{
            background-image: $btn-color;
                font-size: 13px;
             height: 3rem;
            border-radius:30px;
                margin-top: 5px;
        }
        [bg_desgn]
        {
         background: $color5;
          border-radius: 20px;
          margin-top: 10px;
        }
        .label-md[stacked],.label-ios[stacked]
        {
                margin-left: 12px;
    margin-bottom: 0;
        font-size: 1.5rem;
        }
        .select-md,.select-ios
        {
                padding: 13px 17px 13px 16px;
        }
        .img_icon_1
        {
         width: 100%;
         border-radius: 15px;
         height: 200px;
         object-fit: cover;
         object-position: top;
         background-color: $color10;
        }
        .img_icon_2
        {
         width: 100%;
        //  border-radius: 15px;
         height: 100px;
         object-fit: cover;
         object-position: top;
         background-color: $color10;
         }
         .text-input-md
         {
                 margin: 5px 0px;
         }
             .add_click_1{
            background-image: $btn-color;
                   font-size: 11px;
    height: 2.7rem;
    border-radius: 30px;
    margin-top: 6px;
        }
        .range-md.range-has-pin
{
    padding-top: 0px;
}
.range-md
{
    padding: 0px;
}
}
