page-imageviewer {
    .scroll-content {
        background: lighten($color9,10%);
    }
    
    ion-navbar{
    
    &.toolbar-ios,&.toolbar-md{

        .toolbar-background {
            background: lighten($color9,10%);
        }
        .toolbar-content-md,.toolbar-content-ios{
            .title-md,.title-ios{
                .toolbar-title-md,.toolbar-title-ios{
                text-transform: capitalize;
                }
            }
        }
    }
}
    .pinch-zoom-container {
        position:relative;
        overflow: hidden;
        height: 100%;
        width:100%;
      }
      .pinch-zoom-image {
        position: absolute;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
    
        transform: translate(-50%, -50%); /* This is a shorthand of
                                             translateX(-50%) and translateY(-50%) */
        width: 100%;
        height: 300px;
        object-fit: contain;
        object-position: top;
      }
}
