page-change-password {
    ion-content{
        ion-list{
            &.list-ios{
                &[inset]{
                .item{
                border-bottom:none;

                .icon{
                    z-index: 111111111;
                }
                }
            }
            }
        }
        .error-message{
            &.item-ios{
                min-height:2rem;
                background-color:$color8;
        ion-label{
            &.label-ios{
                font-size:10px;
                margin:0;
            }
        }
    }
        }
        [button-custom]{
            background: $color6;
            &.activated{
                background: rgba($color6,0.6);
            }
        }
         .center{
        text-align: right;
        margin:5px 0;
        .login_button{
            background: $btn-color;
            padding: 2px 30px;
            border-radius:30px;
               height: 3.3rem;

        }
        .reset_button{
            background: $color1;
            border-radius:30px;
            padding: 2px 30px;
            height: 3.3rem;

            box-shadow: 1px 1px 10px -5px $color10;
        }
    }
    [err_msg]
    {
        color: $color7 !important;
        padding-left: 16px;
    }
    [checkbox]{
        &.item-md,&.item-ios{
            background:$color8;
            padding: 10px 0;
            margin: 0 auto;
            line-height: 1;
            width: 50%;
            text-align: center;
            
            .checkbox-md,.checkbox-ios{
                margin: 0;
            border: none;
                
            }
            .item-inner{
                border-bottom:none;
            }
        
        }
   
    }
    
}
.toolbar-title-md
    {
     font-size: 18px !important;
    }
    .palce_sizee
    {
        font-size: 14px;
    }
      .font_family_1_ta
        {
            font-family: 'suntommy_2' !important;
            font-size: 10px !important; 
            padding-left: 10px;
        }
}
