<ion-header>
  <ion-navbar>
    <ion-title>{{languageheader.change_password}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <form [formGroup]="change_password_form">
    <ion-list mode="ios" inset>
      <ion-item mode="ios">
        <ion-input class="lock text-input palce_sizee" clearOnEdit="false" type="{{input_password}}" mode="md" placeholder={{languagefield.current_pwd}}
          formControlName="old_password"></ion-input>
        <!-- <ion-icon name="eye-off" item-right tappable *ngIf="input_password == 'password'" (click)="showpassword()">
        </ion-icon>
        <ion-icon name="eye" item-right tappable *ngIf="input_password == 'text'" (click)="hidepassword()"></ion-icon> -->
      </ion-item>
      <div class="validation-errors" >
        <div *ngFor="let validation of validation_messages.old_password">
          <ion-item class="error-message" err_msg
            *ngIf="change_password_form.get('old_password').hasError(validation.type) && (change_password_form.get('old_password').dirty || change_password_form.get('old_password').touched)">
            {{ validation.message }}
          </ion-item>
        </div>
      </div>
    </ion-list>
    <ion-list mode="ios" inset>
      <ion-item mode="ios">
        <ion-input class="lock text-input palce_sizee" clearOnEdit="false" type="{{input_password}}" mode="md" placeholder={{languagefield.new_pwd}}
          formControlName="new_password"></ion-input>
        <!-- <ion-icon name="eye-off" item-right tappable *ngIf="input_password == 'password'" (click)="showpassword()">
        </ion-icon> -->
        <!-- <ion-icon name="eye" item-right tappable *ngIf="input_password == 'text'" (click)="hidepassword()"></ion-icon> -->
      </ion-item>
      <div class="validation-errors"  text-wrap>
        <div *ngFor="let validation of validation_messages.new_password">
          <ion-item class="error-message" err_msg
            *ngIf="change_password_form.get('new_password').hasError(validation.type) && (change_password_form.get('new_password').dirty || change_password_form.get('new_password').touched)">
            {{ validation.message }}
          </ion-item>
        </div>
      </div>
    </ion-list>
    <ion-list mode="ios" inset>
      <ion-item mode="ios">
        <ion-input class="lock text-input palce_sizee" clearOnEdit="false" type="{{input_password}}" mode="md" placeholder={{languagefield.confirm_pwd}}
          formControlName="confirm_password"></ion-input>
        <!-- <ion-icon name="eye-off" item-right tappable *ngIf="input_password == 'password'" (click)="showpassword()">
        </ion-icon> -->
        <!-- <ion-icon name="eye" item-right tappable *ngIf="input_password == 'text'" (click)="hidepassword()"></ion-icon> -->
      </ion-item>
      <div class="validation-errors" >
        <div *ngFor="let validation of validation_messages.confirm_password" text>
          <ion-item class="error-message"err_msg
            *ngIf="change_password_form.get('confirm_password').hasError(validation.type) && (change_password_form.get('confirm_password').dirty || change_password_form.get('confirm_password').touched)">
            {{ validation.message }}
          </ion-item>
        </div>
      </div>
    </ion-list>
    <p err_msg>{{err_messg}}</p>
      <div class="center" text-center>
          <ion-item padding checkbox no-line>
              <ion-label *ngIf="input_password ==  'password'" [ngClass]="{'font_family_1_ta':code == 'ta'}">{{languagefield.show_password}}</ion-label>
              <ion-label *ngIf="input_password ==  'text'" [ngClass]="{'font_family_1_ta':code == 'ta'}">{{languagefield.hide_pwd}}</ion-label>
              <ion-checkbox checked="false" (ionChange)="hidepassword($event)"></ion-checkbox>
            </ion-item>
    <!-- <ion-buttons start text-center> -->
      <button ion-button icon-end tappable class="login_button" (click)="sub_form()">{{languagefield.submit}}</button>
      <button ion-button icon-end tappable clear class="reset_button" (click)="reset_form()">{{languagefield.reset}}</button>
    <!-- </ion-buttons> -->
    </div>
  </form>
</ion-content>